---
items: ["first", "second"] 
name: mongodb
serviceName: mongodb
app: mongodb 
replicaCount: 1
probes:
  liveness:
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 5
    failureThreshold: 3
    